@use './common/animation' as anim;


#screen2 {

    // padding-bottom: 100vh;
    // $navbar-height : 65px;
    // padding-bottom: $navbar-height;
    .search {
        width: 100%;
        padding-inline: 20px;
        padding-top: 20px;
        // padding-bottom: 20px;
    }

    .hidden {
        display: none;
    }

    >#search-results {

        // padding: 20px;
        .result {
            .word {
                width: 100%;
                padding-inline: 20px;
                padding-top: 30px;
                display: flex;
                justify-content: space-between;
                gap: 1em;

                h2 {
                    word-break: break-all;
                }

                >.actions {
                    // user-select: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    user-select: none;
                    // outline: 1px solid var(--color);
                    gap: 3px;

                    img {
                        padding: 7px;
                        aspect-ratio: 1 / 1;
                        object-fit: contain;
                        @include anim.press(200, 90);
                        width: 2.5em;
                        border-radius: 50%;

                        // transition: background-color 300ms;
                        &:active {
                            background-color: #eee;
                        }
                    }
                }
            }

            .phonetics {
                padding-inline: 20px;
                padding-bottom: 20px;

                >p {
                    font-size: 0.8em;
                    color: var(--gray);
                    font-weight: 500;
                }
            }

            >.meanings {
                >.meaning {
                    width: 100%;
                    padding-inline: 20px;
                    padding-block: 15px;

                    >.type {
                        span {
                            font-style: italic;
                            font-weight: 500;
                            font-family: 'Times New Roman', Times, serif;
                            color: var(--gray);
                        }
                    }

                    >.definitionss {
                        >.definitions {
                            padding-left: 10px;
                            padding-block: 0.5em;

                            .text {
                                // margin-top: 1em;
                                display: list-item;
                                margin-left: 0.5em;

                                span {
                                    font-size: 0.9em;
                                    font-weight: 405;
                                    color: var(--deep-gray);
                                    // list-style-type: square;
                                    // color: var(--color);
                                }
                            }

                            .synonyms,
                            .antonyms,
                            .example {
                                padding-block: 0.2em;
                                font-size: 0.9em;

                                >.name>span {
                                    // font-size: 0.7em;
                                    font-family: 'Times New Roman', Times, serif;
                                    font-weight: 500;
                                    color: var(--gray);
                                    font-style: italic;
                                }

                                >.words {
                                    margin-top: 0.4em;
                                    font-size: 0.8em;
                                    color: var(--deep-gray);
                                    display: flex;
                                    flex-wrap: wrap;
                                    gap: 0.5em;

                                    span {
                                        padding: 0.5em 1.1em;
                                        background-color: #88888822;
                                        border-radius: 100vmax;
                                        color: var(--deep-gray);
                                        font-weight: 500;

                                    }
                                }
                            }

                            .example .ex {
                                padding: 0.3em 0;
                                // font-weight: 500;
                                font-style: italic;
                                color: var(--deep-gray);
                            }

                        }
                    }

                    >.synonyms,
                    >.antonyms {
                        padding-block: 0.2em;
                        font-size: 0.9em;

                        >span.name {
                            // font-size: 0.7em;
                            font-family: 'Times New Roman', Times, serif;
                            font-weight: 500;
                            color: var(--gray);
                            font-style: italic;
                        }

                        >.words {
                            margin-top: 0.4em;
                            font-size: 0.8em;
                            color: var(--deep-gray);
                            display: flex;
                            flex-wrap: wrap;
                            gap: 0.5em;

                            >span {
                                padding: 0.5em 1.1em;
                                background-color: #88888822;
                                border-radius: 100vmax;
                                color: var(--deep-gray);
                                font-weight: 500;
                            }
                        }
                    }
                }
            }

        }

        .gap {
            height: 10px;
            width: 100%;
            background-color: var(--gap-color);
        }
    }

    #search-noResult {
        .container {

            padding: 7%;
            display: flex;
            min-height: calc(100vh - 200px);
            justify-content: center;
            align-items: center;
            flex-direction: column;

            >img.illustration {
                width: 65%;
            }

            >h1 {
                color: var(--color);
                text-align: center;
            }

            >p {
                text-align: center;
                font-weight: 500;
                font-size: 0.8em;
                color: var(--text);
            }
        }
    }

    #search-loadingScreen {
        padding: 20px;

        .bg {
            background-image: linear-gradient(100deg,
                    #77777715 0%, #77777715 40%,
                    #77777725 50%, #77777725 55%,
                    #77777715 65%, #77777715 100%);
            background-size: 200% 100%;
            background-position-x: 180%;
            animation: loadSkeleton 1.3s infinite;
        }

        @keyframes loadSkeleton {
            to {
                background-position-x: -20%;
            }
        }

        .h1 {
            height: 4rem;
            border-radius: 10px;
        }

        .h2 {
            height: 2.5rem;
            border-radius: 10px;
        }

        .p {
            height: 1rem;
            border-radius: 100vmax;
            margin-block: 0.6rem;
        }

        .code {
            width: 100%;
            height: 11rem;
            border-radius: 10px;
            margin-block: 1rem;
        }

        .note {
            width: 100%;
            height: 7rem;
            border-radius: 10px;
            margin-block: 1rem;
        }

        .w100 {
            width: 100%;
        }

        .w70 {
            width: 80%;
        }

        .blank {
            width: 100%;
            height: 1rem;
        }

        .blanks {
            width: 100%;
            height: 0.65rem;
        }
    }

    #search-startScreen {
        padding: 20px;
    }
}