@use './common';
@use './common/layout' as ui;
@use './common/animation' as anim;
@use './common/colors' as color;
@use './common/var' as var;
@use './screen2';
@use './screen1';
@use './screen3';
@use './screen4';

#main {
    width: 100%;
    .screen-container {
        // max-width: 600px;
        // margin-inline: auto;
        height: var.$screenMinHeight;
        overflow-x: hidden;
        // height: 100vh;
        .screen{
            width: 100%;
            display: none;
            &.active{
                display: block;
            }
        }
    }

    >nav.bottom {
        width: 100%;
        position: fixed;
        bottom: 0;
        height: var.$navbar-height;
        // padding-block: 3px;
        display: flex;
        z-index: 100;
        // display: none;
        justify-content: space-around;
        align-items: center;
        border-top: 1px solid #88888820;
        background-color: var(--bg-blur);
        backdrop-filter: blur(var(--blur));
        --webkit-backdrop-filter: blur(var(--blur));
        user-select: none;
        >.option {
            // height: 100%;
            // background-color: lime;
            width: 25%;
            height: 100%;
            overflow: hidden;
            // border: 1px solid red;
            padding-inline: 5%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            opacity: 0.35;
            @include anim.press(150, 95);

            >img {
                width: 25px;
            }

            >span {
                font-size: 0.7rem;
            }

            &.active {
                opacity: 0.8;
            }
        }
    }
}