:root {
    --color:#f44236;
    --bg-blur: #ffffffee;
    --blur: 10px;
    --bdrs: 10px;
    --border-color: #ddd;
    --gap-color: #f5f5f5;
    --gray:#888;
    --gray2:#555;
    --deep-gray: #444;

}